<h1>Согласования</h1>

In [22]:
import pandas as pd
import numpy as np
import pyodbc 

db_conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-JSR6TV0G;'
                      'Database=Pro_t_londonSQL;'
                      'Trusted_Connection=yes;')

In [23]:
df = pd.read_sql_query('SELECT * FROM Pro_t_londonSQL.dbo.Од_согл', db_conn)
df.shape

(2068, 15)

In [24]:
df.head()

,код_марки,отдел1,исп1,отдел2,исп2,отдел3,исп3,отдел4,исп4,отдел5,исп5,отдел6,исп6,отдел7,исп7
0,277,4.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,280,13.0,158.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,640,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,701,2.0,129.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,716,2.0,129.0,3.0,0.0,6.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df = df.replace("", np.nan)

<h2>Убираем отделы</h2>

In [26]:
df = df.drop(["отдел1", "отдел2", "отдел3", "отдел4", "отдел5", "отдел6", "отдел7"], axis=1)
df.head()

   код_марки   исп1  исп2   исп3  исп4  исп5  исп6  исп7
0        277    0.0   0.0    0.0   0.0   0.0   0.0   0.0
1        280  158.0   0.0    0.0   0.0   0.0   0.0   0.0
2        640    0.0   0.0    0.0   0.0   0.0   0.0   0.0
3        701  129.0   0.0    0.0   0.0   0.0   0.0   0.0
4        716  129.0   0.0  137.0   0.0   0.0   0.0   0.0

<h2>Делаем 2 столбца</h2>

In [27]:
p1 = df.iloc[:, [0,1]]
p1 = p1.rename(columns={"исп1": "исп"})

p2 = df.iloc[:, [0,2]]
p2 = p2.rename(columns={"исп2": "исп"})

p3 = df.iloc[:, [0,3]]
p3 = p3.rename(columns={"исп3": "исп"})

p4 = df.iloc[:, [0,4]]
p4 = p4.rename(columns={"исп4": "исп"})

p5 = df.iloc[:, [0,5]]
p5 = p5.rename(columns={"исп5": "исп"})

p6 = df.iloc[:, [0,6]]
p6 = p6.rename(columns={"исп6": "исп"})

p7 = df.iloc[:, [0,7]]
p7 = p7.rename(columns={"исп7": "исп"})

In [28]:
df = pd.concat([p1, p2, p3, p4, p5, p6, p7], ignore_index=True)
df

       код_марки    исп
0            277    0.0
1            280  158.0
2            640    0.0
3            701  129.0
4            716  129.0
...          ...    ...
14471       5597    NaN
14472       5598    NaN
14473       5599    NaN
14474       5602    NaN
14475       5603    NaN

[14476 rows x 2 columns]

In [29]:
df = df.dropna()
df = df[df["исп"] != 0]
df

       код_марки    исп
1            280  158.0
3            701  129.0
4            716  129.0
5            718  129.0
6            724  129.0
...          ...    ...
13551       4143  423.0
13562       4164  423.0
13572       4182  235.0
13604       4251  277.0
14106       5159  468.0

[3991 rows x 2 columns]

In [30]:
df["код_марки"].value_counts()

2114    7
5159    7
2436    7
1593    7
4143    7
       ..
5184    1
5320    1
5318    1
3265    1
1095    1
Name: код_марки, Length: 1901, dtype: int64

In [31]:
df["исп"].value_counts()

158.0    574
504.0    288
146.0    231
371.0    185
137.0    170
        ...
243.0      1
508.0      1
182.0      1
569.0      1
457.0      1
Name: исп, Length: 174, dtype: int64

<h2>Удаляем дубликаты</h2>

In [32]:
df = df.drop_duplicates()
df.shape

(3988, 2)

<h2>Меняем названия столбцов</h2>

In [33]:
df = df.rename(columns={"код_марки": "mark_id",
                        "исп": "employee_id"
                       })
df

       mark_id  employee_id
1          280        158.0
3          701        129.0
4          716        129.0
5          718        129.0
6          724        129.0
...        ...          ...
13551     4143        423.0
13562     4164        423.0
13572     4182        235.0
13604     4251        277.0
14106     5159        468.0

[3988 rows x 2 columns]

In [34]:
m_ids = pd.read_csv("mark_ids.csv")
e_ids = pd.read_csv("employee_ids.csv")

In [35]:
m_ids = m_ids.drop(["Unnamed: 0"], axis=1)
e_ids = e_ids.drop(["Unnamed: 0"], axis=1)

In [36]:
m_ids = m_ids.values.flatten().tolist()
e_ids = e_ids.values.flatten().tolist()

In [37]:
df = df[df["mark_id"].isin(m_ids)]
df = df[df["employee_id"].isin(e_ids)]
df

       mark_id  employee_id
805       3173        289.0
827       3252        137.0
1138      4135        328.0
1142      4141        404.0
1143      4143        404.0
...        ...          ...
12246     5404        593.0
13551     4143        423.0
13562     4164        423.0
13572     4182        235.0
13604     4251        277.0

[1143 rows x 2 columns]

<h1>Postgres</h1>

<h2>Создание таблицы</h2>

In [38]:
from psycopg2 import connect, sql, DatabaseError
import psycopg2.extras as extras

DocumentsKM

In [39]:
# Connect
try:
    conn = connect (
        dbname = "documentskm",
        user = "postgres",
        host = "localhost",
        password = "password"
    )
    cursor = conn.cursor()
except Exception as err:
    cursor = None
    print("Psycopg2 error:", err)
    
# Check if the connection was valid
if cursor != None:
    print("Connection successful")

Connection successful

In [40]:
cursor.execute(open("sql/13.sql", "r").read())
conn.commit()

<h2>Вставка данных</h2>

In [41]:
def execute_values(conn, df, table):
    tuples = [tuple(x) for x in df.to_numpy()]
    cols = ','.join(list(df.columns))
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()

In [42]:
execute_values(conn, df, "mark_approvals")

execute_values() done