<h1>Варианты антикоррозионной защиты (+)</h1>

In [61]:
import pandas as pd
import numpy as np
import pyodbc 

db_conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-JSR6TV0G;'
                      'Database=Pro_t_londonSQL;'
                      'Trusted_Connection=yes;')

In [62]:
df = pd.read_sql_query('SELECT * FROM Pro_t_londonSQL.dbo.Варианты_аз', db_conn)
df.shape

(234, 12)

In [63]:
df.head()

,Зона_экс,Группа_газов,Агресс_ср,Матер_к,Тип_лп,Группа_лп,Стойкость_лп,Кол_слоев_лп,Толщ_лпгр,Кол_слоев_гр,Степень_оч,Статус_аз
0,1,0,0,0,ПФ,1.0,П,1.0,30.0,1.0,3.0,1
1,1,0,0,0,АУ,1.0,П,1.0,30.0,1.0,3.0,1
2,1,0,0,0,ЭЭ,1.0,П,1.0,30.0,1.0,3.0,1
3,1,0,0,0,МА,1.0,П,1.0,30.0,1.0,3.0,1
4,1,0,0,0,НЦ,1.0,П,1.0,30.0,1.0,3.0,1

In [64]:
df = df.replace("", np.nan)

In [65]:
df.isna().sum()

Зона_экс         0
Группа_газов     0
Агресс_ср        0
Матер_к          0
Тип_лп          16
Группа_лп       30
Стойкость_лп    30
Кол_слоев_лп    30
Толщ_лпгр       30
Кол_слоев_гр    30
Степень_оч      16
Статус_аз        0
dtype: int64

In [66]:
df = df.dropna()

<h2>Удаляем дубликаты</h2>

In [67]:
df = df.drop_duplicates()
df.shape

(204, 12)

<h2>Исследуем данные</h2>

In [68]:
df["Зона_экс"].value_counts()

3    80
2    73
1    51
Name: Зона_экс, dtype: int64

In [69]:
df["Группа_газов"].value_counts()

1    69
2    62
0    33
4    20
3    20
Name: Группа_газов, dtype: int64

In [70]:
df["Агресс_ср"].value_counts()

2    99
1    77
3    16
0    12
Name: Агресс_ср, dtype: int64

In [71]:
df["Матер_к"].value_counts()

0    83
3    57
2    48
1    16
Name: Матер_к, dtype: int64

In [72]:
df["Тип_лп"].value_counts()

ПВ    52
ЭП    44
СВ    21
КО    12
ПУ    11
ПЭ    10
ПБ     9
ПС     9
ПА     9
НЦ     4
МБ     4
ПФ     4
ЭЭ     4
МА     4
АУ     3
ФФ     3
АЦ     1
Name: Тип_лп, dtype: int64

In [73]:
df["Группа_лп"].value_counts()

3.0    85
2.0    51
4.0    44
1.0    24
Name: Группа_лп, dtype: int64

In [74]:
df["Стойкость_лп"].value_counts()

А     83
Х     25
В     21
Б     20
М     20
П     16
ХЩ    11
ХК     8
Name: Стойкость_лп, dtype: int64

In [75]:
df["Кол_слоев_лп"].value_counts()

2.0    106
3.0     57
4.0     14
5.0     13
1.0     12
6.0      1
7.0      1
Name: Кол_слоев_лп, dtype: int64

In [76]:
df["Толщ_лпгр"].value_counts()

60.0     78
80.0     45
130.0    24
55.0     16
40.0     12
30.0     12
110.0    11
100.0     3
180.0     2
150.0     1
Name: Толщ_лпгр, dtype: int64

In [77]:
df["Кол_слоев_гр"].value_counts()

2.0    192
1.0     12
Name: Кол_слоев_гр, dtype: int64

In [78]:
df["Степень_оч"].value_counts()

1.0    112
3.0     42
2.0     38
4.0     12
Name: Степень_оч, dtype: int64

In [79]:
df["Статус_аз"].value_counts()

1    204
Name: Статус_аз, dtype: int64

In [80]:
df = df.drop(["Статус_аз"], axis=1)
df.head()

,Зона_экс,Группа_газов,Агресс_ср,Матер_к,Тип_лп,Группа_лп,Стойкость_лп,Кол_слоев_лп,Толщ_лпгр,Кол_слоев_гр,Степень_оч
0,1,0,0,0,ПФ,1.0,П,1.0,30.0,1.0,3.0
1,1,0,0,0,АУ,1.0,П,1.0,30.0,1.0,3.0
2,1,0,0,0,ЭЭ,1.0,П,1.0,30.0,1.0,3.0
3,1,0,0,0,МА,1.0,П,1.0,30.0,1.0,3.0
4,1,0,0,0,НЦ,1.0,П,1.0,30.0,1.0,3.0

<h2>Добавляем id</h2>

In [84]:
df.insert(0, 'id', range(1, len(df) + 1))

In [85]:
df.head()

,id,Зона_экс,Группа_газов,Агресс_ср,Матер_к,Тип_лп,Группа_лп,Стойкость_лп,Кол_слоев_лп,Толщ_лпгр,Кол_слоев_гр,Степень_оч
0,1,1,0,0,0,ПФ,1.0,П,1.0,30.0,1.0,3.0
1,2,1,0,0,0,АУ,1.0,П,1.0,30.0,1.0,3.0
2,3,1,0,0,0,ЭЭ,1.0,П,1.0,30.0,1.0,3.0
3,4,1,0,0,0,МА,1.0,П,1.0,30.0,1.0,3.0
4,5,1,0,0,0,НЦ,1.0,П,1.0,30.0,1.0,3.0

In [86]:
df.shape

(204, 12)

In [87]:
df = df.drop_duplicates(subset=["Зона_экс", "Группа_газов", "Агресс_ср", "Матер_к", "Тип_лп", "Группа_лп", "Стойкость_лп"])
df.shape

(204, 12)

In [88]:
df[(df["Зона_экс"] == 2) & (df["Группа_газов"] == 1) & (df["Агресс_ср"] == 1) & (df["Матер_к"] == 0) & (df["Тип_лп"] == "ПФ")]

,id,Зона_экс,Группа_газов,Агресс_ср,Матер_к,Тип_лп,Группа_лп,Стойкость_лп,Кол_слоев_лп,Толщ_лпгр,Кол_слоев_гр,Степень_оч
68,58,2,1,1,0,ПФ,1.0,А,2.0,55.0,2.0,3.0

In [89]:
df[(df["Зона_экс"] == 2) & (df["Группа_газов"] == 1) & (df["Агресс_ср"] == 2) & (df["Матер_к"] == 0) & (df["Тип_лп"] == "ПФ")]

Empty DataFrame
Columns: [id, Зона_экс, Группа_газов, Агресс_ср, Матер_к, Тип_лп, Группа_лп, Стойкость_лп, Кол_слоев_лп, Толщ_лпгр, Кол_слоев_гр, Степень_оч]
Index: []

<h2>Меняем названия столбцов</h2>

In [54]:
df = df.rename(columns={"Зона_экс": "operating_zone",
                        "Группа_газов": "gas_group",
                        "Агресс_ср": "env_aggressiveness",
                        "Матер_к": "material",
                        "Тип_лп": "paintwork_type",
                        "Группа_лп": "paintwork_group",
                        "Стойкость_лп": "paintwork_durability",
                        "Кол_слоев_лп": "paintwork_num_of_layers",
                        "Толщ_лпгр": "paintwork_primer_thickness",
                        "Кол_слоев_гр": "primer_num_of_layers",
                        "Степень_оч": "cleaning_degree_id"
                       })
df

,id,operating_zone,gas_group,env_aggressiveness,material,paintwork_type,paintwork_group,paintwork_durability,paintwork_num_of_layers,paintwork_primer_thickness,primer_num_of_layers,cleaning_degree_id
0,1,1,0,0,0,ПФ,1.0,П,1.0,30.0,1.0,3.0
1,2,1,0,0,0,АУ,1.0,П,1.0,30.0,1.0,3.0
2,3,1,0,0,0,ЭЭ,1.0,П,1.0,30.0,1.0,3.0
3,4,1,0,0,0,МА,1.0,П,1.0,30.0,1.0,3.0
4,5,1,0,0,0,НЦ,1.0,П,1.0,30.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
229,200,3,2,3,3,ЭП,4.0,ХЩ,3.0,130.0,2.0,4.0
230,201,3,3,3,3,ПВ,4.0,Б,5.0,130.0,2.0,4.0
231,202,3,3,3,3,ЭП,4.0,Б,3.0,130.0,2.0,4.0
232,203,3,4,3,3,ПВ,4.0,М,5.0,130.0,2.0,4.0
233,204,3,4,3,3,ЭП,4.0,М,3.0,130.0,2.0,4.0

<h1>Postgres</h1>

<h2>Создание таблицы</h2>

In [55]:
from psycopg2 import connect, sql, DatabaseError
import psycopg2.extras as extras

DocumentsKM

In [56]:
# Connect
try:
    conn = connect (
        dbname = "documentskm",
        user = "postgres",
        host = "localhost",
        password = "password"
    )
    cursor = conn.cursor()
except Exception as err:
    cursor = None
    print("Psycopg2 error:", err)
    
# Check if the connection was valid
if cursor != None:
    print("Connection successful")

Connection successful

In [57]:
cursor.execute(open("sql/1.sql", "r").read())
conn.commit()

<h2>Вставка данных</h2>

In [58]:
def execute_values(conn, df, table):
    tuples = [tuple(x) for x in df.to_numpy()]
    cols = ','.join(list(df.columns))
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()

In [59]:
execute_values(conn, df, "corr_prot_variants")

execute_values() done

In [60]:
db_conn.close()