<h1>Исполнители</h1>

In [37]:
import pandas as pd
import numpy as np
import pyodbc 

db_conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-JSR6TV0G;'
                      'Database=Pro_t_londonSQL;'
                      'Trusted_Connection=yes;')

In [38]:
df = pd.read_sql_query('SELECT * FROM Pro_t_londonSQL.dbo.Спр_исполн', db_conn)
df.shape

(463, 6)

In [39]:
df

     код  шифр  тип_должн должность         фио  код_отд
0      3   3.0          5       ГИП      Иванов        0
1      9   1.0          6    Гл.стр       Котов        0
2     11   1.0          0    гл.стр     Цингауз        1
3     27   1.0          0   нач.отд     Павлова        4
4     28   2.0          0    зав.гр   Жерлицина        4
..   ...   ...        ...       ...         ...      ...
458  642   0.0          0      None  Емельянова       36
459  643   0.0          0      None      Гиллер       36
460  644   0.0          0    зав.гр   Половнева        3
461  645   0.0          0    зав.гр    Корнеева       15
462  646   0.0          0    зав.гр    Булахова        3

[463 rows x 6 columns]

In [40]:
df.isna().sum()

код           0
шифр          5
тип_должн     0
должность    42
фио           7
код_отд       0
dtype: int64

In [41]:
df = df.dropna()

In [42]:
df["код_отд"].value_counts()

1     72
0     68
3     27
12    23
15    16
9     15
39    14
37    13
26    12
40    12
31    12
16    11
18    11
27    11
32    10
36    10
4      9
33     9
8      8
2      7
7      6
19     6
17     6
5      4
10     4
29     4
6      3
35     3
14     3
28     3
13     1
38     1
Name: код_отд, dtype: int64

In [43]:
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(40, 1)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(37, 1)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(36, 1)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(35, 26)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(34, 1)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(33, 26)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(32, 1)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(31, 26)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(18, 9)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(27, 26)
df.loc[:,"код_отд"] = df.loc[:,"код_отд"].replace(29, 3)

C:\Users\sigla\Anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [44]:
df["код_отд"].value_counts()

1     117
0      68
26     47
3      31
9      26
12     23
15     16
39     14
16     11
4       9
8       8
2       7
17      6
7       6
19      6
5       4
10      4
14      3
6       3
28      3
13      1
38      1
Name: код_отд, dtype: int64

In [45]:
df = df[df["код_отд"] != 0]
df

     код   шифр  тип_должн  должность        фио  код_отд
2     11    1.0          0     гл.стр    Цингауз        1
3     27    1.0          0    нач.отд    Павлова        4
4     28    2.0          0     зав.гр  Жерлицина        4
9     56    1.0          0    нач.отд       Одуд        6
10    67   65.0          0  инженер1к  Джабарова        1
..   ...    ...        ...        ...        ...      ...
456  640  152.0          0    инженер   Малышева        1
457  641    0.0          0     зав.гр   Хлесткин        1
460  644    0.0          0     зав.гр  Половнева        3
461  645    0.0          0     зав.гр   Корнеева       15
462  646    0.0          0     зав.гр   Булахова        3

[346 rows x 6 columns]

In [46]:
df["должность"] = df["должность"].str.strip()
df["должность"].value_counts()

зав.гр             113
инженер             62
гл.спец.            49
нач.отд             23
вед.инж             21
инж. 1 к            14
инж. 2 к            13
зам.нач.отд          5
Инж. 3 к             5
Зав.гр               4
зав.гр.              4
техник               3
инж. 3 к             3
И.о.нач.отд          2
гл.стр               2
вед.инж.             2
и.о.нач.отд          2
И.о.нач. отд.        1
Зав. гр.             1
инженер1к            1
и.о.зав.гр           1
чертежн              1
И. о. нач. отд.      1
Зав.гр.              1
инж.                 1
Гл. спец.            1
И.о.гл.спец.         1
И.о.зав.гр.          1
зам.нач.отд.         1
Инж. 1к              1
инж3кат              1
инж.2к               1
и. о. зав.гр         1
зав. Гр              1
И.о. зав. гр.        1
Н. Контр.            1
Name: должность, dtype: int64

In [47]:
df.loc[df["должность"] == "ген.дир", 'тип_должн'] = 1
df.loc[df["должность"] == "гл.инж", 'тип_должн'] = 2
df.loc[df["должность"] == "зам.гл.инж", 'тип_должн'] = 3
df.loc[df["должность"] == "гл.стр", 'тип_должн'] = 4
df.loc[df["должность"] == "гл.арх", 'тип_должн'] = 5
df.loc[df["должность"] == "ГИП", 'тип_должн'] = 6
df.loc[df["должность"] == "нач.отд", 'тип_должн'] = 7
df.loc[df["должность"] == "зам.нач.отд", 'тип_должн'] = 8
df.loc[df["должность"] == "гл.спец.", 'тип_должн'] = 9
df.loc[df["должность"] == "Гл. спец.", 'тип_должн'] = 9
df.loc[df["должность"] == "зав.гр", 'тип_должн'] = 10
df.loc[df["должность"] == "Зав.гр", 'тип_должн'] = 10
df.loc[df["должность"] == "зав. Гр", 'тип_должн'] = 10
df.loc[df["должность"] == "вед.инж", 'тип_должн'] = 11
df.loc[df["должность"] == "вед.инж.", 'тип_должн'] = 11
df.loc[df["должность"] == "инж. 1 к", 'тип_должн'] = 12
df.loc[df["должность"] == "Инж. 1к", 'тип_должн'] = 12
df.loc[df["должность"] == "инженер1к", 'тип_должн'] = 12
df.loc[df["должность"] == "инж. 2 к", 'тип_должн'] = 13
df.loc[df["должность"] == "инж. 3 к", 'тип_должн'] = 14
df.loc[df["должность"] == "Инж. 3 к", 'тип_должн'] = 14
df.loc[df["должность"] == "инж3кат", 'тип_должн'] = 14
df.loc[df["должность"] == "инженер", 'тип_должн'] = 15
df.loc[df["должность"] == "инж", 'тип_должн'] = 15
df.loc[df["должность"] == "техник", 'тип_должн'] = 16
df.loc[df["должность"] == "чертежн", 'тип_должн'] = 17

In [48]:
df["тип_должн"].value_counts()

10    118
15     62
9      50
11     23
7      23
0      21
12     16
13     13
14      9
8       5
16      3
4       2
17      1
Name: тип_должн, dtype: int64

In [49]:
df["фио"] = df["фио"].str.strip()

In [50]:
df = df.drop_duplicates(subset=["тип_должн", "фио", "код_отд"])

<h2>Дропаем остальное, т. к. все равно данные не актуальны</h2>

In [51]:
df = df[df["тип_должн"] != 0]

In [52]:
df = df.drop(["шифр", "должность"], axis=1)
df.head()

    код  тип_должн        фио  код_отд
2    11          4    Цингауз        1
3    27          7    Павлова        4
4    28         10  Жерлицина        4
9    56          7       Одуд        6
10   67         12  Джабарова        1

<h2>Rename columns</h2>

In [53]:
df = df.rename(columns={"код": "id",
                        "тип_должн": "position_id",
                        "фио": "name",
                        "код_отд": "department_id"
                       })
df.head()

    id  position_id       name  department_id
2   11            4    Цингауз              1
3   27            7    Павлова              4
4   28           10  Жерлицина              4
9   56            7       Одуд              6
10  67           12  Джабарова              1

<h1>Postgres</h1>

In [54]:
from psycopg2 import connect, sql, DatabaseError
import psycopg2.extras as extras

DocumentsKM

In [55]:
# Connect
try:
    conn = connect (
        dbname = "documentskm",
        user = "postgres",
        host = "localhost",
        password = "password"
    )
    cursor = conn.cursor()
except Exception as err:
    cursor = None
    print("Psycopg2 error:", err)
    
# Check if the connection was valid
if cursor != None:
    print("Connection successful")

Connection successful

In [56]:
cursor.execute(open("sql/26.sql", "r").read())
conn.commit()

<h2>Insert data</h2>

In [57]:
def execute_values(conn, df, table):
    tuples = [tuple(x) for x in df.to_numpy()]
    cols = ','.join(list(df.columns))
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()

In [58]:
execute_values(conn, df, "employees")

execute_values() done

<h1>Employee ids to csv</h1>

In [59]:
df["id"].to_csv("employee_ids.csv")