<h1>Ссылочные документы (+)</h1>

<h1>Зависит от 40_Спр_ссыл_в</h1>

In [26]:
import pandas as pd
import numpy as np
import pyodbc 

db_conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-JSR6TV0G;'
                      'Database=Pro_t_londonSQL;'
                      'Trusted_Connection=yes;')

In [27]:
df = pd.read_sql_query('SELECT * FROM Pro_t_londonSQL.dbo.Спр_ссыл', db_conn)
df.shape

(310, 4)

In [28]:
df.head()

,Шифр_сд,Вид_сд,Обозн_сд,Наим_сд
0,1,NaN,М34508.01.03.500,.
1,БК1,24.0,3.010-1 вып. 1,Баки для хранения концентрированного и водного...
2,БК2,24.0,3.010-1 вып. 2,Баки для хранения концентрированного и водного...
3,БК3,24.0,3.010-1 вып. 3,Баки для хранения концентрированного и водного...
4,БК4,24.0,3.010-1 вып. 4,Баки для хранения концентрированного и водного...

In [29]:
df = df.replace("", np.nan)

In [30]:
df.isna().sum()

Шифр_сд     0
Вид_сд      3
Обозн_сд    1
Наим_сд     1
dtype: int64

<h2>Убираем</h2>

In [31]:
df = df.dropna()
df.shape

(306, 4)

In [32]:
df = df.drop_duplicates(subset=["Шифр_сд"])
df.shape

(306, 4)

In [33]:
df = df.reset_index(drop=True)

<h2>Trim whitespaces</h2>

In [34]:
df["Шифр_сд"] = df["Шифр_сд"].str.strip()
df["Обозн_сд"] = df["Обозн_сд"].str.strip()
df["Наим_сд"] = df["Наим_сд"].str.strip()

In [35]:
for i in range(0, len(df)):
    arr = df["Наим_сд"][i].split()
    new_str = ' '.join(arr)
    df.at[i, "Наим_сд"] = new_str

<h2>Spelling</h2>

In [36]:
df["Наим_сд"] = df["Наим_сд"].str.replace("возду ха", "воздуха")
df["Наим_сд"] = df["Наим_сд"].str.replace("Материриалы", "Материалы")
df["Наим_сд"] = df["Наим_сд"].str.replace("рекоментации", "рекомендации")
df["Наим_сд"] = df["Наим_сд"].str.replace("рас пашные", "распашные")
df["Наим_сд"] = df["Наим_сд"].str.replace("металличе ческих", "металлических")
df["Наим_сд"] = df["Наим_сд"].str.replace("металличе ских", "металлических")
df["Наим_сд"] = df["Наим_сд"].str.replace("электри ческие", "электрические")
df["Наим_сд"] = df["Наим_сд"].str.replace("кра ны", "краны")
df["Наим_сд"] = df["Наим_сд"].str.replace("примене нием", "применением")
df["Наим_сд"] = df["Наим_сд"].str.replace("обслуживани сосудов", "обслуживания сосудов")
df["Наим_сд"] = df["Наим_сд"].str.replace("пе реплетами", "переплетами")
df["Наим_сд"] = df["Наим_сд"].str.replace("за полнением", "заполнением")
df["Наим_сд"] = df["Наим_сд"].str.replace("линй", "линий")
df["Наим_сд"] = df["Наим_сд"].str.replace("мосто вые", "мостовые")
df["Наим_сд"] = df["Наим_сд"].str.replace("покрыти ем", "покрытием")
df["Наим_сд"] = df["Наим_сд"].str.replace("со кращенному", "сокращенному")
df["Наим_сд"] = df["Наим_сд"].str.replace("покрытияпролетами", "покрытия пролетами")
df["Наим_сд"] = df["Наим_сд"].str.replace("широкополочныых", "широкополочных")
df["Наим_сд"] = df["Наим_сд"].str.replace("тав ров", "тавров")
df["Наим_сд"] = df["Наим_сд"].str.replace("зда ний", "зданий")
df["Наим_сд"] = df["Наим_сд"].str.replace("ремонтно -монтажных", "ремонтно-монтажных")
df["Наим_сд"] = df["Наим_сд"].str.replace("пок рытия", "покрытия")
df["Наим_сд"] = df["Наим_сд"].str.replace("профилирован ным", "профилированным")
df["Наим_сд"] = df["Наим_сд"].str.replace("стеклои минераловатных", "стекло и минераловатных")
df["Наим_сд"] = df["Наим_сд"].str.replace("окон,дверей", "окон, дверей")
df["Наим_сд"] = df["Наим_сд"].str.replace("пром.зданий", "пром. зданий")
df["Наим_сд"] = df["Наим_сд"].str.replace("строитель ные", "строительные")
df["Наим_сд"] = df["Наим_сд"].str.replace("сталь ные", "стальные")
df["Наим_сд"] = df["Наим_сд"].str.replace("наруж ного", "наружного")
df["Наим_сд"] = df["Наим_сд"].str.replace("ветров.район.", "ветров. район.")
df["Наим_сд"] = df["Наим_сд"].str.replace("выше и ниже -40 град.с.  ше и ниже -40 град.с.", "выше -40 град.с. и ниже -40 град.с.")
df["Наим_сд"] = df["Наим_сд"].str.replace("алю миниевых", "алюминиевых")
df["Наим_сд"] = df["Наим_сд"].str.replace("зданий,промышленных", "зданий, промышленных")
df["Наим_сд"] = df["Наим_сд"].str.replace("предприятий.шарнирные", "предприятий. Шарнирные")
df["Наим_сд"] = df["Наим_сд"].str.replace("связей.Чертежи", "связей. Чертежи")
df["Наим_сд"] = df["Наим_сд"].str.replace("сталь ными", "стальными")
df["Наим_сд"] = df["Наим_сд"].str.replace("унифици рованных", "унифицированных")
df["Наим_сд"] = df["Наим_сд"].str.replace("уз лы", "узлы")
df["Наим_сд"] = df["Наим_сд"].str.replace("железобе тонных", "железобетонных")
df["Наим_сд"] = df["Наим_сд"].str.replace("метал лопроката", "металлопроката")
df["Наим_сд"] = df["Наим_сд"].str.replace("выпу ску", "выпуску")
df["Наим_сд"] = df["Наим_сд"].str.replace("откры вающиеся", "открывающиеся")
df["Наим_сд"] = df["Наим_сд"].str.replace("светоаэра ционных", "светоаэрационных")
df["Наим_сд"] = df["Наим_сд"].str.replace("проектирования.Рабочие", "проектирования. Рабочие")
df["Наим_сд"] = df["Наим_сд"].str.replace("черте жи", "чертежи")
df["Наим_сд"] = df["Наим_сд"].str.replace("опорн.кранами", "опорн. кранами")
df["Наим_сд"] = df["Наим_сд"].str.replace("опорынми кранами", "опорными кранами")
df["Наим_сд"] = df["Наим_сд"].str.replace("несущ.конструкций", "несущ. конструкций")
df["Наим_сд"] = df["Наим_сд"].str.replace("подв.кранами", "подв. кранами")
df["Наим_сд"] = df["Наим_сд"].str.replace("кровлей,оборудованных", "кровлей, оборудованных")
df["Наим_сд"] = df["Наим_сд"].str.replace("одноэт.произв", "одноэт. произв")
df["Наим_сд"] = df["Наим_сд"].str.replace("произв.зданий", "произв. зданий")
df["Наим_сд"] = df["Наим_сд"].str.replace("кровлей,оборудованных", "кровлей, оборудованных")
df["Наим_сд"] = df["Наим_сд"].str.replace("специальн.назначения", "специальн. назначения")
df["Наим_сд"] = df["Наим_сд"].str.replace("зданий,оборудованных", "зданий, оборудованных")

<h2>Id</h2>

In [37]:
df.insert(0, 'id', range(1, len(df) + 1))

<h2>Rename columns</h2>

In [38]:
df = df.rename(columns={"Шифр_сд": "code",
                        "Вид_сд": "type_id",
                        "Обозн_сд": "designation",
                        "Наим_сд": "name"
                       })
df

,id,code,type_id,designation,name
0,1,БК1,24.0,3.010-1 вып. 1,Баки для хранения концентрированного и водного...
1,2,БК2,24.0,3.010-1 вып. 2,Баки для хранения концентрированного и водного...
2,3,БК3,24.0,3.010-1 вып. 3,Баки для хранения концентрированного и водного...
3,4,БК4,24.0,3.010-1 вып. 4,Баки для хранения концентрированного и водного...
4,5,БК5,24.0,3.010-1 вып. 5,Баки для хранения концентрированного и водного...
...,...,...,...,...,...
301,302,ЭО5,18.0,3.015-3/82 вып. 3,Унифицированные двухярусные эстакады под техно...
302,303,ЭО6,18.0,3.015-7,Стальные опоры для трубопроводов технологическ...
303,304,ЭО7,18.0,3.403-2 вып. 0,Стальные опоры газопроводов и паропроводов пре...
304,305,ЭО8,18.0,3.403-2 вып. 1,Стальные опоры газопроводов и паропроводов пре...
305,306,ЭО9,18.0,3.403-2 вып. 2,Стальные опоры газопроводов и паропроводов пре...

In [39]:
df["name"].value_counts()

Унифицированные стальные специальные опоры ВЛ 35, 110 и 150 кв                                                                                                                                                             2
Унифицированные стальные нормальные опоры ВЛ 35, 1110 и 150 кв (3078тм). Рабочие чертежи промежуточных опор ВЛ 35 кв.                                                                                                      1
Ворота откатные с применением гнутых профилей из тонколистовой стали с механизированным открыванием. ворота. Рабочие чертежи.                                                                                              1
Покрытия из асбестоцементных экструзионных плит для одноэтажных промышленных зданий с металлическими несущими конструкциями. изделия соединительные. Рабочие чертежи.                                                      1
Стены из асбестоцементных панелей типа "сэндвич" длиной 3м для производственных зданий Рабочие чертежи панелей.                                                                                                            1
                                                                                                                                                                                                                          ..
Баки для хранения концентрированного и водного раствора пенообразователя емкостью от 6 до 80 м3. Бак V= 60м3.                                                                                                              1
Стальные колонны одноэтажных производственных зданий обьектов черной металлургии                                                                                                                                           1
Стальные колонны одноэтажных производственных зданий без мостовых опорных кранов колонны для зданий высотой от 9.6 до 18 м бескрановых и с подвесными электрическими кранами общего назначения грузоподъемностью до 5т.    1
Перегородки панельные из алюминиевых сплавов. Материалы для проектирования. Монтажные узлы.                                                                                                                                1
Типовые детали покрытий унифицированных одноэтажных промышленных зданий (секций) из легких металлических конструкций. покрытия со структурными блоками из прокатных профилей (типа цниицк).                                1
Name: name, Length: 305, dtype: int64

In [40]:
df = df.drop_duplicates(subset=["name"])

In [41]:
df["name"].value_counts()

Унифицированные стальные нормальные опоры ВЛ 35, 1110 и 150 кв (3078тм). Рабочие чертежи промежуточных опор ВЛ 35 кв.                                                                                                                      1
Ворота откатные с применением гнутых профилей из тонколистовой стали с механизированным открыванием. ворота. Рабочие чертежи.                                                                                                              1
Стальные колонны одноэтажных производственных зданий, оборудован. мостовыми опорными кранами. Колонны для зданий высотой от 10.8 до 18.0 м с мостовыми электрическими кранами общего назначения, грузоподъёмностью до 50 т. Чертежи КМ.    1
Покрытия из асбестоцементных экструзионных плит для одноэтажных промышленных зданий с металлическими несущими конструкциями. изделия соединительные. Рабочие чертежи.                                                                      1
Стены из асбестоцементных панелей типа "сэндвич" длиной 3м для производственных зданий Рабочие чертежи панелей.                                                                                                                            1
                                                                                                                                                                                                                                          ..
Заполнение оконных проемов в стенах зданий промышленных предприятий швеллерным и коробчатым профильным стеклом в деревянной обвязке. архитектурные и монтажные узлы                                                                        1
Баки для хранения концентрированного и водного раствора пенообразователя емкостью от 6 до 80 м3. Бак V= 60м3.                                                                                                                              1
Стальные колонны одноэтажных производственных зданий обьектов черной металлургии                                                                                                                                                           1
Стальные колонны одноэтажных производственных зданий без мостовых опорных кранов колонны для зданий высотой от 9.6 до 18 м бескрановых и с подвесными электрическими кранами общего назначения грузоподъемностью до 5т.                    1
Типовые детали покрытий унифицированных одноэтажных промышленных зданий (секций) из легких металлических конструкций. покрытия со структурными блоками из прокатных профилей (типа цниицк).                                                1
Name: name, Length: 305, dtype: int64

In [43]:
df.loc[df["name"].str.endswith('.') == False, "name"] = df[df["name"].str.endswith('.') == False]["name"] + '.'

C:\Users\sigla\Anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [44]:
df.loc[df["name"].str.endswith('.') == False, "name"]

Series([], Name: name, dtype: object)

<h1>Postgres</h1>

In [45]:
from psycopg2 import connect, sql, DatabaseError
import psycopg2.extras as extras

DocumentsKM

In [46]:
# Connect
try:
    conn = connect (
        dbname = "documentskm",
        user = "postgres",
        host = "localhost",
        password = "password"
    )
    cursor = conn.cursor()
except Exception as err:
    cursor = None
    print("Psycopg2 error:", err)
    
# Check if the connection was valid
if cursor != None:
    print("Connection successful")

Connection successful

In [47]:
cursor.execute(open("sql/39.sql", "r").read())
conn.commit()

<h2>Insert data</h2>

In [48]:
def execute_values(conn, df, table):
    tuples = [tuple(x) for x in df.to_numpy()]
    cols = ','.join(list(df.columns))
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()

In [49]:
execute_values(conn, df, "linked_docs")

execute_values() done