<h1>Типы документов (+)</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'id': [1, 2, 3, 4, 5], 'name': ["Листы основного комплекта", "Спецификация металлопроката", "Ведомость металлоконструкций по видам профилей", "Сводная спецификация металлопроката", "Расчет металлоконструкций"]})
df

   id                                            name
0   1                       Листы основного комплекта
1   2                     Спецификация металлопроката
2   3  Ведомость металлоконструкций по видам профилей
3   4             Сводная спецификация металлопроката
4   5                       Расчет металлоконструкций

<h1>Postgres</h1>

In [3]:
from psycopg2 import connect, sql, DatabaseError
import psycopg2.extras as extras

DocumentsKM

In [5]:
# Connect
try:
    conn = connect (
        dbname = "documentskm",
        user = "postgres",
        host = "localhost",
        password = "password"
    )
    cursor = conn.cursor()
except Exception as err:
    cursor = None
    print("Psycopg2 error:", err)
    
# Check if the connection was valid
if cursor != None:
    print("Connection successful")

Connection successful

In [7]:
cursor.execute(open("sql/x.sql", "r").read())
conn.commit()

<h2>Вставка данных</h2>

In [8]:
def execute_values(conn, df, table):
    tuples = [tuple(x) for x in df.to_numpy()]
    cols = ','.join(list(df.columns))
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()

In [9]:
execute_values(conn, df, "doc_types")

execute_values() done